html 
  head
    title= 'DOICM\'s PC'
    link(rel='stylesheet', href='/styles.css')
  body
    h1= trainerName.toUpperCase() + "'s BOX"
    table
      tr
        th
        th
        th
      for pokemon in pokemonList
        tr
          td= pokemon.number
          td= pokemon.name.toUpperCase()
          td= pokemon.datecaught