doctype html
html(lang='en')
  head
    title= 'DOICM\'s PC'
    link(rel='stylesheet', href='/styles.css')
  body
    h1= trainerName.toUpperCase() + "'s BOX"
    table
      tr
        th
          a(href=sortLinks[0])= "NUMBER"
        th
          a(href=sortLinks[1])= "NAME"
        th
          a(href=sortLinks[2])= "DATE CAUGHT"
      for pokemon in pokemonList
        tr
          td 
            if pokemon.number.toString().length == 1 
              = "00" + pokemon.number.toString()
            else if pokemon.number.toString().length == 2
              = "0" + pokemon.number.toString()
            else
              = pokemon.number.toString()
          
          td= pokemon.name.toUpperCase().replace("-", " ")
          td= pokemon.datecaught